.BannerContainer {
  display: flex;

  flex-direction: row;

  justify-content: center;
  gap: 5px;
  padding: 15px;
  background-color: transparent;
  font-size: 1rem;
}
.BannerContainer span {
  margin: 1px;
}
.image {
  border-radius: 8px;
  border: 1px solid var(--bluelight1);
  background-color: white;
  object-fit: fill;
  padding: 15px;
}
.text {
  background-color: transparent;
  font-size: 15px;
  color: var(--white);
  width: 50%;
  margin-left: 5px;
}
