.home {
  background: rgba(148, 187, 233,0.12);
  position: absolute;
  border-radius: 50%;
  filter: blur(120px);
  z-index: -9;
  position: fixed; /* Keep it fixed in place */
  top: 0;
  left: 0;
  width: 100vw; /* Cover the entire viewport width */
  height: 100vh;
}

.HomeWrapper {
  margin-top: 5rem;
}

.HomeContainer {
  display: grid;
  grid-template-columns: 60% 35%;
  gap: 2%;
  padding: 5px;
  margin: 2rem 1rem;
}

.TextContainer {
  text-align: left;
}

.HeroLargeText {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  margin: 1rem 0;
}

.HeroLargeTextCustom {
  color: var(--bluelight2);
  -webkit-text-stroke: 2px var(--bluelight2);
  
}

.Description {
  margin: 1rem 0;
  line-height: 1.6;
}

.CustomButton {
  width: 30%;
  display: flex;
  justify-content: center;
}

.ImageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.AppImage {
  width: 400px;
  height: auto;
  margin-top: 10px;
}

.marketing {
  position: absolute;
  background: var(--bluedark);
  color: var(--white);
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  bottom: 20%;
  right: 17%;
  width: 70px;
  animation: marketingfloating 3s ease-in-out infinite;
}
/*
.marketing2{
    position: absolute;
    background: var(--bluedark);
    color: var(--white);
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    bottom: 20%;
    right: 17%;
    width: 70px;
    animation: marketingfloating 3s ease-in-out infinite;
}
*/

.marketing2 {
  display: flex;
  align-items: center;
  background: transparent;
  color: var(--black);
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 0.8rem;
  position: absolute;
  
  right: 75%;
  text-align: center;
  width: 100px;
  z-index: 10;
}

.marketing2 img {
  width: 30%;
  height: 40%;
  margin-right: 5px;
}

.HomeBottomBanner {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bluedark);
  padding: 1rem;
  justify-content: center;
}

.ConstructionBanner {
  font-size: 1.5rem;
  color: red;
  text-align: center;
}

.ConstructionBanner h3 {
  background-color: yellow;
  border-radius: 10px;
  padding: 0.5rem;
}

.blink {
  animation: blinker 1.5s ease-in-out infinite alternate;
}

@keyframes marketingfloating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0px);
    }
  }
  

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
